<div class="container content">
  <div class="col-lg-3">
    <div class="row">
      <h3 class="text-center"><%= @company.company_name %></h3>
      <br>
      <center><%= image_tag avatar_url(@company.user), class: "img-circle avatar-large" %></center>
      <h5 class="text-center"><%= @company.user.name %></h5>  
    </div>
    <br><br>
    <div class="panel panel-default">
      <div class="panel-heading">Company Info</div>
      <div class="container">
        <br>
        <h4 class="small"><strong>Address</strong></h4> 
        <p class="small"><%= @company.company_address %></p>
        <% if !@company.company_suite.blank? %>
          <p class="small"><%= @company.company_suite %></p>
        <% else %>
        <% end %>
        <p class="small"><%= @company.company_city %>, <%= @company.company_state %> <%= @company.company_zip %></p>
        
        <hr>
        
        <% if !@company.trade_name.blank? %>
          <h4 class="small"><strong>Trade Name</strong></h4> 
          <p class="small"><%= @company.trade_name %></p>
          <hr>
        <% else %>
        <% end %>
        
        <h4 class="small"><strong>Entity Type</strong></h4> 
        <p class="small"><%= @company.entity_type %></p>
        
        <hr>
        
        <h4 class="small"><strong>Tax ID</strong></h4> 
        <p class="small"><%= @company.tax_id %></p>
        
        <hr>
        
        <h4 class="small"><strong>Annual Revenue</strong></h4> 
        <p class="small"><%= @company.annual_revenue %></p>
        
        
        <% if !@company.website.blank? %>
          <hr>
          <h4 class="small"><strong>Website</strong></h4> 
          <p class="small"><%= @company.website %></p>
        <% else %>
        <% end %>
        
      </div>
    </div>
  </div>
  <div class="col-lg-9">
    
  </div>
</div>